.codeGuesserBody{
    width: 50%;
}

input[type=number]{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.5s ease;
}

.codeGuesserResults {
    margin-top: 20px;
  }
  
  .codesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Spread out the columns */
    gap: 20px; /* Increase gap between items */
    width: 100%; 
    max-width: 1000px; /* Optional: adjust this to match your page */
    margin: 0 auto; /* Center the grid */
  }
  
  .codeItem {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #1a1a1a;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
  
  .codeItem:hover {
    background-color: #ddd;
  }
  
  .codeItem:active {
    background-color: #bbb;
    transform: scale(0.98); /* Slight click effect */
  }